body {
    width: 860px;
    margin: 0 auto;
    font-family: "KodomoRounded-Light";
}

.container {
    width: 100%;
    margin-top: 20px;
}
.page_title {
    width: 100%;
    height: 100px;
    background-color: #3f5b77;
    text-align: center;
    color: #fff;
    border-radius: 3px;
}

h1 {
    padding: 15px 0 5px 0;
    text-align: center;
    margin: 0 auto;
    font-family: "KodomoRounded-Light";
    font-weight: normal;
}

h5 {
    text-align: center;
    padding: 0;
    margin: 0 auto;
    font-family: "KodomoRounded-Light";
    font-weight: normal;
}
.form-group {
    width: 500px;
    margin-top: 50px;
    margin-bottom: 70px;
}

.form-control{
    width: 400px;
    height: 30px;
    font-size: 18px;
    border-bottom:solid gray 1px;
    border-top: none;
    border-left: none;
    border-right: none;
    float: left;
}

input[type="text"]:focus {
    outline: 0;
}

#FilmTitle {
    height: 30px;
}

.bt_search {
    width: 100px;
    height: 30px;
    border: none;
    box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.6);
    background-color: rgb(122, 156, 201);
    float: left;
    margin: 0 0 0 150px;
    padding: 0;
    border-radius: 3px;
    font-family: "KodomoRounded-Light";
    color: white;

}

.bt_search:hover {
    padding: 4px;
    background-color: rgb(141, 178, 226);
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px px 0px 0px rgba(0,0,0,0.6);
}

.bt_new_add {
    width: 100px;
    height: 30px;
    border: none;
    box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.6);
    background-color: rgb(228, 37, 110);
    float: left;
    margin: 0 0 0 50px;
    padding: 0;
    border-radius: 3px;
    font-family: "KodomoRounded-Light";
    color: white;
}

.bt_new_add:hover {
    padding: 4px;
    background-color: rgb(230, 100, 150);
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px px 0px 0px rgba(0,0,0,0.6);
}

.clear-element {
    margin-bottom: 30px;
    clear: both;
}

/* resutl page css */

.bt_back {
    width: 100%;
    height: 30px;
    border: none;
    box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.6);
    background-color: rgb(122, 156, 201);
    float: left;
    margin:20px 0;
    padding: 0;
    border-radius: 3px;
    font-family: "KodomoRounded-Light";
    color: white;
}

.bt_back:hover {
    padding: 4px;
    background-color: rgb(141, 178, 226);
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px px 0px 0px rgba(0,0,0,0.6);
}

.alert alert-success {
    display: block;
    margin-top: 30px;
    float: left;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

table tbody td {
    width: 50%;
    border: 1px solid #e0e0e0;
    text-align: left;
    padding: 10px;
  }
  
table tbody tr:nth-child(even) {
    background-color: #dddddd;
}

/* add_movies css */

.input_area {
    width: 90%;
    margin: 0 aout;
}

.movie_title {
    width: 400px;
    height: 28px;
    margin: 20px 0;
    border-color: #dddddd;
}

.title_input {
    width: 247px;
    height: 22px;
    margin: 0 0 10px 51px;
}

.category_name {
    height: 30px;
    float: left;
}

.pulldown {
    width: 110px;
    height: 30px;
    margin: 0 15px;
    float: clear;
}

.bt_register {
    width: 100px;
    height: 30px;
    border: none;
    box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.6);
    background-color: rgb(228, 37, 110);
    margin:40px 20px 0 0;
    padding: 0;
    border-radius: 3px;
    color: white;
    float: left;
}

.bt_register:hover {
    padding: 4px;
    background-color:  rgb(230, 100, 150);
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px px 0px 0px rgba(0,0,0,0.6);
}

.bt_cancel {
    width: 100px;
    height: 30px;
    border: none;
    box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 4px 0px 0px rgba(0,0,0,0.6);
    background-color: rgb(122, 136, 201);
    margin:40px 0 0 20px;
    padding: 0;
    border-radius: 3px;
    color: white;
    float: left;
}

.bt_cancel:hover {
    padding: 4px;
    background-color: rgb(141, 178, 226);
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px px 0px 0px rgba(0,0,0,0.6);
}